<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Test Suite">
	<listeners>
		<listener class-name="com.weatherInformation.listeners.Test_Listener"></listener>
	</listeners>
	<test name="Weather Comparison of UI and API">
		<classes>
			<class name="com.weatherInformation.testScripts.Tests"></class>
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
